# Python / Virtualenv
.venv/
venv/
ENV/
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environment variables & secrets
.env

# macOS
.DS_Store

# IDEs
.idea/
.vscode/
*.swp
